html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.div-bg {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff4ce;
}