@model IEnumerable<Tuple<string, int>>

@{
    ViewData["Title"] = "Stats";
}

<div class="div-h-center">
    <h3>Attendance stats:</h3>
</div>
<div class="div-h-center">
    <table class="table">
        <thead>
            <tr>
                @foreach (var item in Model)
                {
                    <th scope="col">@item.Item1</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model)
                {
                    <td>@item.Item2</td>
                }
            </tr>
        </tbody>
    </table>
</div>

